.coverage
.coveragerc
coverage.xml
deploy-dev.sh
deploy-staging.sh
deploy-production.sh
.gcloud-logging-credentials
.env.yaml
.env.yaml.template
.env.dev
.env.staging
.env.production
.env.template
.flake8
.gcloudignore
.git
.gitignore
.gitlab-ci.yml
.gitlab-mr.sh
.idea
.isort.cfg
.pre-commit-config.yaml
.pylintrc
poetry.lock
__pycache__
.pytest_cache
htmlcov
pyproject.toml
__init__.py
README.md
LICENCE
setup.cfg
tests
.venv
venv
.vscode
